:root {
  --corporativeColor: #9A48D0;
  --darkCorporativeColor: #7903a7;
  --lightCorporativeColor: #cb46ff;
  --secondCorporativeColor: #2ae685;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::selection {
  background-color: var(--secondCorporativeColor);
}

.paddingBottom {
  padding-bottom: 20px;
}

.highlightedText {
  color: var(--corporativeColor);
}

.noStyleAnchor {
  color: inherit;
  &:hover {
    color: var(--lightCorporativeColor);
  }
}
